<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Purchases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/manage_purchase/purchase_handler.css') }}">

</head>
<body>
    <div class="container">
        <h1>Manage Purchases</h1>

        <div class="status-selector">
            <label for="status">Select Status:</label>
            <select id="status">
                <option value="Paid">Paid</option>
                <option value="Pending">Pending</option>
            </select>
        </div>

        <div id="purchaseData" class="purchase-data">
            </div>
    </div>

    <script src="{{ url_for('static', filename='js/admin/manage_purchase/purchase_handler.js') }}"></script>
</body>
</html>