{% extends 'users/question_practice/base.html' %}
{% block title %}Select Year{% endblock %}
{% block content %}
<h2 class="select-subject-heading">
  Select Year for Paper: 
  <span class="paper-code">{{ paper_code }}</span>
</h2>
<div class="d-flex flex-column gap-3">
    {% for year in years %}
        <a href="{{ url_for('users.show_year_questions',unique_code = unique_code, paper_code=paper_code, year=year.year) }}{% if unique_code %}?code={{ unique_code }}{% endif %}"
           class="list-group-item list-group-item-action shadow-sm p-3 rounded border-0"
           style="background-color: #f9f9f9; color: #008080; font-weight: 500;">
            {{ year.year }}
        </a>
    {% else %}
        <div class="alert alert-warning">
            No years available for this paper.
        </div>
    {% endfor %}
</div>
{% endblock %}
