{% extends 'users/question/base.html' %}
{% block title %}Select Subject{% endblock %}

{% block content %}
<h2 class="mb-3 fw-semibold text-center small-heading">
  Select Subject for Paper: 
  <span class="fw-bold" style="color: #008080;">{{ paper_code }}</span>
</h2>
 
<div class="d-flex flex-column gap-3">
    {% for sub in subjects %}
        <a href="{{ url_for('users.show_subject_questions',unique_code = unique_code, paper_code=paper_code, subject=sub.subject) }}"
           class="list-group-item list-group-item-action shadow-sm p-3 rounded border-0"
           style="background-color: #f9f9f9; color: #008080; font-weight: 500;">
            {{ sub.subject }}
        </a>
    {% else %}
        <div class="alert alert-warning">
            No subjects available for this paper.
        </div>
    {% endfor %}
</div>
{% endblock %}
